
body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}


form.mb-4 {
    margin-bottom: 20px;
}

form.mb-4 input[type="text"],
form.mb-4 select,
form.mb-4 input[type="date"] {
    padding: 6px 8px;
}

form.mb-4 button {
    padding: 6px 12px;
}
.search-input {
    width: 280px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

table th {
    background: #eee;
    font-weight: bold;
}

table th,
table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ccc;
}


button {
    background: rgba(99, 68, 54, 0.8);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}

button:hover {
    background: rgba(99, 68, 54, 1);
}

.btn-reset {
    text-decoration: none;
    color:  #fff;
    background-color: rgba(212, 200, 161, 0.8);
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid  rgba(212, 200, 161, 0.8);
    transition: 0.2s;
}

.btn-reset:hover {
    background: rgba(187, 166, 97, 0.8);
    color: #fff;
    text-decoration: none;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn-export {
    display: inline-block;
    text-decoration: none;
    color: #704b22;
    background: rgba(238, 224, 185, 0.8);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 20px;
}

.btn-export:hover {
    color: #fff;
    background: rgba(187, 166, 97, 0.8);
    text-decoration: none;
}

.pagination-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #999;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
}

.pagination-links a:hover {
    background: #f2f2f2 !important;
}

.pagination-links svg {
    width: 18px;
    height: 18px;
}

.page-item.active {
    background:rgba(99, 68, 54, 1);
    color: #fff;
    border-color:rgba(99, 68, 54, 1);
    cursor: default;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.modal-box {
    background: white;
    width: 420px;
    padding: 20px;
    border-radius: 8px;
}

.modal-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.modal-info {
    margin: 10px 0;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 6px;
}

.btn-cancel {
    padding: 6px 10px;
    margin-right: 8px;
    background: #aaa;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn-cancel:hover {
    background: #888;
}

.btn-delete {
    background: #c00;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn-delete:hover {
    background: #900;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: none;
}

.modal:target {
    display: block;
}

.modal-box {
    width: 500px;
    max-width: 90%;
    background: #fff;
    margin: 100px auto;
    padding: 25px;
    border-radius: 8px;
}

.modal-close {
    float: right;
    text-decoration: none;
    font-size: 24px;
}

.modal-delete-btn {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-primary {
    display: inline-block;
    text-decoration: none;
    background:rgba(99, 68, 54, 0.8);
    color:#fff;
    padding: 6px 12px;
    border-radius: 4px;
    transition: 0.2s;
}

.btn-primary:hover {
    background:rgba(187, 146, 127, 0.9);
    color: #fff;
    text-decoration: none;
}

.btn-delete { background:#e53e3e; color:#fff; }
.btn-delete:hover { background:#c53030; }

.btn-cancel { background:#a0aec0; color:#fff; }
.btn-cancel:hover { background:#718096; }

